<br>
<%= link_to 'New Club', new_club_path %>
<br>
<%= link_to 'Edit Club', edit_club_path %>
<br>

<p>Name: <%= @club.name %></p>
<p>Abbreviation: <%= @club.abbreviation %></p>
<p>Shaft: <%= @club.shaft %></p>
<p>Head: <%= @club.head %></p>