<h1>Hole <%= @played_hole.hole.number %></h1>
<blockquote>Par <%= @played_hole.hole.par %> - <%= @played_hole.hole.distance %> yards</blockquote>

<% if @played_hole.shots.any? %>
    <% @played_hole.shots.each do |shot| %>
        <p><%= link_to "#{shot.number}. Club: #{shot.club.name}", edit_played_hole_shot_path(@played_hole, shot) %></p>
    <% end %>
<% end %>

<%= link_to "next shot", new_played_hole_shot_path(@played_hole) %>
