<div class="shot_form col col-xs-12">
   <%= form_for([@played_hole, @shot]) do |f| %>

       <% if @shot.errors.any? %>
           <div id="error_explanation">
               <h2><%= pluralize(@shot.errors.count, "error") %> prohibited this shot from being saved:</h2>
               <ul>
                   <% @shot.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                   <% end %>
               </ul>
           </div>
       <% end %>

       <% if !@prep_entered || @all_entered %>
           <h1>Shot Prep</h1>
           <br>
           <%= f.label :club %>
           <br>
           <%= f.select(:club_id, options_for_select(@club_options)) %>

           <% if !@is_putting %>

               <% if @is_tee %>
                   <h5>Tee Info</h5>
                   <div class="checkboxes well">
                       <%= f.check_box :tee_up %>       <%= f.label :tee_up %><br>
                       <%= f.check_box :tee_down %>     <%= f.label :tee_down %><br>
                       <%= f.check_box :tee_middle %>   <%= f.label :tee_middle %><br>
                       <%= f.check_box :off_the_turf %> <%= f.label :off_the_turf %><br>
                       <%= f.check_box :elevated_tee %> <%= f.label :elevated_tee %>
                   </div>
               <% else %>
               <h1>Shot type</h1>

               <h5>Strength</h5>
               <div class="checkboxes well">
                   <%= f.check_box :full %>           <%= f.label :full %><br>
                   <%= f.check_box :quarter %>        <%= f.label :quarter %><br>
                   <%= f.check_box :half %>           <%= f.label :half %><br>
                   <%= f.check_box :three_quarters %> <%= f.label :three_quarters %>
               </div>

               <h5>Trickiness</h5>
               <div class="checkboxes well">
                   <%= f.check_box :punch %> <%= f.label :punch %><br>
                   <%= f.check_box :trick %> <%= f.label :trick %>
               </div>
               <% end %>
           <% end %>
       <% end %>

       <% if (@prep_entered && !@result_entered && !@ly_entered) || @all_entered %>
           <h1>Result</h1>

           <% if @is_putting %>
               <div class="checkboxes well">
                   <%= f.check_box :green %> <%= f.label :on_the_green %><br>
                   <%= f.check_box :cup %>   <%= f.label :in_the_cup %>
               </div>

               <div class="checkboxes well">
                   <%= f.check_box :gimme %>  <%= f.label :gimme %><br>
                   <%= f.check_box :soft %>   <%= f.label :too_soft %><br>
                   <%= f.check_box :hard %>   <%= f.label :too_hard %><br>
                   <%= f.check_box :left %>   <%= f.label :shot_left %><br>
                   <%= f.check_box :right %>  <%= f.label :shot_right %><br>
                   <%= f.check_box :center %> <%= f.label :perfect_line %>
               </div>

           <% else %>
               <h5>Pitch:</h5>
               <div class="checkboxes well">
                 <%= f.check_box :high %> <%= f.label :high %><br>
                 <%= f.check_box :low %>  <%= f.label :low %>
               </div>

               <h5>Yaw:</h5>
               <div class="checkboxes well">
                   <%= f.check_box :hook %>         <%= f.label :hook %><br>
                   <%= f.check_box :draw %>         <%= f.label :draw %><br>
                   <%= f.check_box :pull %>         <%= f.label :pull %><br>
                   <%= f.check_box :banana_hook %>  <%= f.label :banana_hook %><br>
                   <%= f.check_box :pure %>         <%= f.label :pure %><br>
                   <%= f.check_box :banana_slice %> <%= f.label :banana_slice %><br>
                   <%= f.check_box :push %>         <%= f.label :push %><br>
                   <%= f.check_box :fade %>         <%= f.label :fade %> <br>
                   <%= f.check_box :shot_slice %>   <%= f.label :slice %>
               </div>

               <h5>Distance:</h5>
               <div class="checkboxes well">
                   <%= f.check_box :over_club %>  <%= f.label :over_clubbed %><br>
                   <%= f.check_box :under_club %> <%= f.label :under_clubbed %><br>
                   <%= f.check_box :soft %> <%= f.label :too_soft %><br>
                   <%= f.check_box :hard %> <%= f.label :too_hard %>
               </div>

               <h5>Aim:</h5>
               <div class="checkboxes well">
                   <%= f.check_box :left %>   <%= f.label :shot_left %><br>
                   <%= f.check_box :right %>  <%= f.label :shot_right %><br>
                   <%= f.check_box :center %> <%= f.label :perfect_aim %>
               </div>

               <h5>Strike</h5>
               <div class="checkboxes well">
                   <%= f.check_box :sweet_spot %>  <%= f.label :sweet_spot %><br>
                   <%= f.check_box :lob %>         <%= f.label :lob %><br>
                   <%= f.check_box :pop_up %>      <%= f.label :popped_up %><br>
                   <%= f.check_box :shank %>       <%= f.label :shanked_it %><br>
                   <%= f.check_box :skull %>       <%= f.label :skulled_it %><br>
                   <%= f.check_box :chunk %>       <%= f.label :chunked_it %><br>
                   <%= f.check_box :top %>         <%= f.label :topped_it %><br>
                   <%= f.check_box :worm_burner %> <%= f.label :worm_burner %>
               </div>

           <% end %>
       <% end %>

       <% if (@prep_entered && @result_entered && !@ly_entered) || @all_entered %>
           <h1>Ly</h1>

           <h5>Good</h5>
           <div class="checkboxes well">
               <%= f.check_box :cup %>     <%= f.label :cup %><br>
               <%= f.check_box :green %>   <%= f.label :green %><br>
               <%= f.check_box :apron %>   <%= f.label :apron %><br>
               <%= f.check_box :fairway %> <%= f.label :fairway %>
           </div>

           <h5>Fair</h5>
           <div class="checkboxes well">
               <%= f.check_box :rough %>             <%= f.label :rough %><br>
               <%= f.check_box :downslope %>         <%= f.label :downslope %><br>
               <%= f.check_box :upslope %>           <%= f.label :upslope %><br>
               <%= f.check_box :side_hill_right %>   <%= f.label :side_hill_right %><br>
               <%= f.check_box :side_hill_left %>    <%= f.label :side_hill_left %><br>
               <%= f.check_box :knocked_in_bounds %> <%= f.label :knocked_in_bounds %>
           </div>

           <h5>Poor</h5>
           <div class="checkboxes well">
               <%= f.check_box :obstructed %>    <%= f.label :obstructed %><br>
               <%= f.check_box :beach %>         <%= f.label :beach %><br>
               <%= f.check_box :drink %>         <%= f.label :drink %><br>
               <%= f.check_box :out_of_bounds %> <%= f.label :out_of_bounds %>
           </div>

           <h5>Action</h5>
           <div class="checkboxes well">
               <%= f.check_box :mulligan %> <%= f.label :mulligan %><br>
               <%= f.check_box :drop %>     <%= f.label :drop %><br>
               <%= f.check_box :practice %> <%= f.label :practice_swing %>
           </div>

       <% end %>

       <div class="button form_submit"><%= f.submit %></div>
    <% end %>
</div>