<h1>Round <%="for #{current_player.name}" if player_signed_in?%></h1>

<%= link_to 'New Round', new_round_path %>

<% @rounds.each do |round| %>
    <%= link_to 'View Round', round %>
    <p><%= round.player.name %></p>
    <p><%= round.date %></p>
    <p><%= round.course.name %></p>

    <% round.played_holes.each do |played_hole| %>
        <p><%= played_hole.hole.number %> <%= played_hole.hole.par %> - <%= played_hole.hole.distance %> yards</p>
    <% end %>

<% end %>