<%= form_for([@shot, @shot.shot_result]) do |f| %>
    <div class="field">
      <%= f.label :was_hook %>
      <%= f.check_box :was_hook %>
    </div>

    <div class="field">
      <%= f.label :was_draw %>
      <%= f.check_box :was_draw %>
    </div>

    <div class="field">
      <%= f.label :was_pull %>
      <%= f.check_box :was_pull %>
    </div>

    <div class="field">
      <%= f.label :was_pure %>
      <%= f.check_box :was_pure %>
    </div>

    <div class="field">
      <%= f.label :was_push %>
      <%= f.check_box :was_push %>
    </div>

    <div class="field">
      <%= f.label :was_fade %>
      <%= f.check_box :was_fade %>
    </div>

    <div class="field">
      <%= f.label :was_slice %>
      <%= f.check_box :was_slice %>
    </div>

    <br>

    <div class="field">
      <%= f.label :over_club %>
      <%= f.check_box :over_club %>
    </div>

    <div class="field">
      <%= f.label :under_club %>
      <%= f.check_box :under_club %>
    </div>

    <div class="field">
      <%= f.label :high_trajectory %>
      <%= f.check_box :high_trajectory %>
    </div>

    <div class="field">
      <%= f.label :low_trajectory %>
      <%= f.check_box :low_trajectory %>
    </div>

    <br>

    <div class="field">
      <%= f.label :chunked %>
      <%= f.check_box :chunked %>
    </div>

    <div class="field">
      <%= f.label :topped %>
      <%= f.check_box :topped %>
    </div>

    <div class="field">
      <%= f.label :was_worm_burner %>
      <%= f.check_box :was_worm_burner %>
    </div>

    <div class="field">
      <%= f.label :was_goldie_bounce %>
      <%= f.check_box :was_goldie_bounce %>
    </div>

    <div class="field">
      <%= f.label :was_lob %>
      <%= f.check_box :was_lob %>
    </div>

    <div class="field">
      <%= f.label :was_stoney %>
      <%= f.check_box :was_stoney %>
    </div>

    <div class="field">
      <%= f.label :was_pop_up %>
      <%= f.check_box :was_pop_up %>
    </div>
    <div class="field">
      <%= f.label :was_shank %>
      <%= f.check_box :was_shank %>
    </div>

    <div class="field">
      <%= f.label :was_skull %>
      <%= f.check_box :was_skull %>
    </div>

    <div class="field">
      <%= f.label :was_tree_shot %>
      <%= f.check_box :was_tree_shot %>
    </div>

    <blockquote>
      <%= f.submit %>
    </blockquote>
<% end %>